%form{action: search_results_path, method: 'get'}
  %section.search
    %input{name: 'search_keywords',autofocus: true, type: 'text'}
    = select_tag('search_mode',options_for_select([['Product', 1], ['Category', 2],], 1))
    %button#search_button Search