// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

$bkgd_color   : #F8F8F9;
$border_color : #D0C3AD;

.amount
{
  text-align: right;
}

.orders
{
  width:600px;
}

#index_table_orders
{
  margin:0px auto;
  width:800px;
}
#index_table_orders thead > tr > th
{
  text-align: center;
}
#index_table_orders > tbody > tr > td
{
  text-align: center;
}

.order
{
  margin:0px auto;
  width:800px;
  ul
  {
    list-style: none;
  }
  .addresses
  { 
     width:800px;
    .bill_to
    {
      padding-right:100px;
    }
    .address
    {
      float:left;
    }
  }
  .order_details
  {
    h3
    {
      clear:both;
    }
    table
    {
      background-color: $bkgd_color;
      border: 2px solid $border_color;
      
      tr:nth-child(2n+1)
      {
        background-color: #E1E1E1;
      }
      th
      {
        text-align: center;
      }
      td
      {
        text-align: center;
      }
      .price
      {
        text-align: right;
      }
    }
    .total
    {
      width:200px;
      float:right;
      
      .grand_total
      {
        border-top:2px solid #000;
      }
    }
  }
  
  .buttons
  {
    clear:both;
    text-align: center;
    font-size:18px;
  }
}