// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

.contact_us_image
{
	margin-left:186px;
	border: 1px solid #D0C3AD;
	border-radius:10px 10px 10px 10px;
}

.page_left_description
{
	float:left;
	width:400px;
	margin-left:10px;
	text-align: justify;
	line-height: 25px;

}
.page_right_description
{
	float:right;
  width:400px;
  margin-right:10px;
	text-align: justify;
	line-height: 25px;
}
h5
{
	display: inline;
}
.location
{
	list-style: none;
}