h3
{
	margin-top:15px;
	text-align: center;
}

.sign_in
{
	margin: 0px auto;
	list-style: none;
	width:500px;

	li
	{		
		margin:0px auto;
		display: inline-block;
		width:400px;

		.label
		{
			width:10px;
		}
		.input
		{
			float:right;
			width:200px;	
		}
	}	
}

.submit
{
	margin-top:10px;
	float:right;
}