%h1 Categories
- @categories.each do |category|
  %h2= category.name
  = render partial: 'shared/product',
  collection: category.products, locals:{partial_name:'shared/buttons', button_name: 'Add to Cart' }