= submit_tag button_name
= link_to 'Remove Item', remove_cart_item_path(id: product.id.to_i), class: 'remove_from_cart', method: :delete,
          data: { confirm: 'Are you sure you want to remove ' + product.name + ' from your cart?' }